{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center text-white">{{'nav.creer_ann'|trans }}</h1>

<div class="card">
{% if message is defined %}
<p class="messages">{{ message }}</p>
{% endif %}

<form action= "{{ path('ajout') }}" method="POST">

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.title'|trans }}</label>
 <input {% if titre is defined %} value="{{ titre }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="titre">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.places'|trans }}</label>
 <input {% if places is defined %} value="{{ places }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="places">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.adresse'|trans }}</label>
 <input {% if adresse is defined %} value="{{ adresse }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="adresse">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.ville'|trans }}</label>
 <input {% if ville is defined %} value="{{ ville }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ville">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.type'|trans }}</label>
 <input {% if type is defined %} value="{{ type }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="type">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.pieces'|trans }}</label>
 <input {% if nbrpieces is defined %} value="{{ nbrpieces }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nbrpieces">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.surface'|trans }}</label>
 <input {% if surface is defined %} value="{{ surface }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="surface">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.loyer'|trans }}</label>
 <input {% if loyerhc is defined %} value="{{ loyerhc }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="loyerhc">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.charges'|trans }}</label>
 <input {% if charges is defined %} value="{{ charges }}" {% endif %} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="charges">
</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">{{'annonces.description'|trans }}</label>
  <textarea class="form-control" aria-label="With textarea" name="descr">{% if description is defined %} {{ description }} {% endif %}</textarea>
</div>

</br>

<div class="btn_center">
  <div>
    <button type="submit" name="ajout" class="btn2">{{'annonces.ajouter'|trans }}</button>
  </div>
</div>

</div>
</form>
</div>
{% endblock %}
