{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center text-white">{{'nav.creer_ann'|trans }}</h1>

<div class="card">

<form action= "{{ path('ajout') }}" method="POST">

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.title'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="titre">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.places'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="places">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.adresse'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="adresse">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.ville'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ville">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.type'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="type">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.pieces'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nbrpieces">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.surface'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="surface">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.loyer'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="loyerhc">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.charges'|trans }}</label>
   <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="charges">
</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">{{'annonces.description'|trans }}</label>
    <textarea class="form-control" aria-label="With textarea" name="descr"></textarea>
</div>

</br>

<div class="btn_center">
  <div>
    <button type="submit" class="btn2">{{'annonces.ajouter'|trans }}</button>
  </div>
</div>

</div>

{% if message is defined %}
<p>{{ message }}</p>
{% endif %}
</form>
</div>
{% endblock %}
