{% extends 'base.html.twig' %}

{% block body %}

  <div class="card">
  <h1 class="text-center">{{ annonce.titre }}</h1></br>
    <div class="info">
      <span id="libelle">{{'annonces.places'|trans }} :</span> {{ annonce.places }} </br>
      <span id="libelle">{{'annonces.adresse'|trans }} :</span> {{ location.adresse }} </br>
      <span id="libelle">{{'annonces.ville'|trans }} :</span> {{ location.ville }} </br>
      <span id="libelle">{{'annonces.type'|trans }} :</span> {{ location.type }} </br>
      <span id="libelle">{{'annonces.pieces'|trans }} :</span> {{ location.nbrpieces }} </br>
      <span id="libelle">{{'annonces.loyer'|trans }} :</span> {{ location.loyerhc }} </br>
      <span id="libelle">{{'annonces.charges'|trans }} : </span>{{ location.charges }} </br>
      <span id="libelle">{{'annonces.description'|trans }} : </span>{{ annonce.description }}

    <div class="line"></div>

      <div class="date">{{ annonce.dateCreation }}</div>
      <h2>{{'user.contact'|trans }}</h2>
      <span id="libelle">{{'user.annonceur'|trans }} :</span> {{ user.username }} </br>
      <span id="libelle">{{'user.mail'|trans }} :</span> {{ user.email }} </br>

</div>
    {% if annonce.idUser == id or is_granted("ROLE_ADMIN") %}
    <div class="line"></div>


    <div class="btn_center">
      <div>
      <form action="{{ path('update') }}" method="POST">
        <input type="hidden" name="modifier" value={{ annonce.idAnnonce }} />
        <button  type="submit" class="btn2" >{{'annonces.modifier'|trans }}</button>
      </form>
      </div>
      <div>
      <form action="{{ path('supprimer') }}" method="POST">
        <input type="hidden" name="supprimer" value={{ annonce.idAnnonce }} />
        <button type="submit" class="btn_supprimer"><img id="trash" src="{{ asset('assets/images/trash.png') }}"/></button>
      </form>
      </div>
      <div>
      <form action="{{ path('dupliquer') }}" method="POST">
        <input type="hidden" name="dupliquer" value={{ annonce.idAnnonce }} />
        <button type="submit" class="btn2">Dupliquer</button>
      </form>
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}
