{% extends 'base.html.twig' %}

{% block body %}

  <p class="text-center text-white"><h1 class="text-center text-white">{{ annonce.titre }}</h1></p>
  <div class="card">
    <div class="info">
      <span id="libelle">{{'annonces.places'|trans }} :</span> {{ annonce.places }} </br>
      <span id="libelle">{{'annonces.adresse'|trans }} :</span> {{ location.adresse }} </br>
      <span id="libelle">{{'annonces.ville'|trans }} :</span> {{ location.ville }} </br>
      <span id="libelle">{{'annonces.type'|trans }} :</span> {{ location.type }} </br>
      <span id="libelle">{{'annonces.pieces'|trans }} :</span> {{ location.nbrpieces }} </br>
      <span id="libelle">{{'annonces.loyer'|trans }} :</span> {{ location.loyerhc }} </br>
      <span id="libelle">{{'annonces.charges'|trans }} : </span>{{ location.charges }} </br>
      <span id="libelle">{{'annonces.description'|trans }} : </span>{{ annonce.description }}
      </div>

    <div class="line"></div>

    <div class="btn_center">
      <div>
      <form action="{{ path('update') }}" method="POST">
        <input type="hidden" name="modifier" value={{ annonce.idAnnonce }} />
        <button  type="submit" class="btn2" >{{'annonces.modifier'|trans }}</button>
      </form>
      </div>
      <div>
      <form action="{{ path('supprimer') }}" method="POST">
        <input type="hidden" name="supprimer" value={{ annonce.idAnnonce }} />
        <button type="submit" class="btn_supprimer"><img id="trash" src="{{ asset('assets/images/trash.png') }}"/></button>
      </form>
      </div>
    </div>
  </div>

{% endblock %}
