{% extends 'base.html.twig' %}

{% block body %}
    <p class="text-center text-white"><h1 class="text-center text-white">{{ 'slogan'|trans }}</h1></p>
    <div class="btn_center">
      <a href="{{ path('lire') }}" class="btn">{{ 'rechercher_ann'|trans }}</a>
      <a href="{{ path('create') }}" class="btn">{{ 'creer_ann'|trans }}</a>
  </div>
{% endblock %}
