{% extends 'base.html.twig' %}

{% block body %}
    <p class="text-center text-white"><h1 class="text-center text-white">{{'annonces.liste'|trans }}</h1></p>

  {% for annonce in annonces %}
  <div class="card">
      <h2>{{ annonce.titre }}</h2>
      {{'annonces.places'|trans }} : {{ annonce.places }} </br>
      {{'annonces.description'|trans }} : {{ annonce.description }}
      {{ annonce.idUser }}" + "{{id}}

    <div class="line"></div>
    <div class="btn_center">
      <div>
      <form action="{{ path('details') }}" method="POST">
        <input type="hidden" name="details" value={{ annonce.idAnnonce }} />
        <button type="submit" class="btn2" >{{'annonces.details'|trans }}</button>
      </form>
      </div>
      {% if annonce.idUser == id %}
        <div>
        <form action="{{ path('update') }}" method="POST">
          <input type="hidden" name="modifier" value={{ annonce.idAnnonce }} />
          <button  type="submit" class="btn2" >{{'annonces.modifier'|trans }}</button>
        </form>
        </div>
      {% endif %}
      <div>
      <form action="{{ path('supprimer') }}" method="POST">
        <input type="hidden" name="supprimer" value={{ annonce.idAnnonce }} />
        <button type="submit" class="btn_supprimer" ><img id="trash" src="{{ asset('assets/images/trash.png') }}"/></button>
      </form>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
