{% extends 'base.html.twig' %}

{% block body %}
  <div class="div_center">

    <p class="text-center text-white"><h1 class="text-center text-white">{{'annonces.liste'|trans }}</h1></p>

  {% for annonce in annonces %}
  <li>{{'annonces.title'|trans }} : {{ annonce.titre }}</li>
  <p>{{'annonces.places'|trans }} : {{ annonce.places }}  </p>
  <p> {{'annonces.description'|trans }} : {{ annonce.description }} </p>


    <form action="{{ path('supprimer') }}" method="POST">
  <input type="hidden" name="supprimer" value={{ annonce.idAnnonce }} />
  <button type="submit" class="btn btn-dark" >{{'annonces.supprimer'|trans }}</button>
  </form>
    <form action="{{ path('update') }}" method="POST">
    <input type="hidden" name="modifier" value={{ annonce.idAnnonce }} />
  <button  type="submit" class="btn btn-dark" >{{'annonces.modifier'|trans }}</button>
</form>
  <br />
{% endfor %}
  </div>

{% endblock %}
