{% extends 'base.html.twig' %}

{% block body %}
  <div class="div_center">

    <p class="text-center text-white"><h1 class="text-center text-white">Liste des annonces</h1></p>

  {% for annonce in annonces %}
  <li>Titre : {{ annonce.titre }}</li>
  <p>Places : {{ annonce.places }}  </p>
  <p> Description : {{ annonce.description }} </p>


    <form action="{{ path('supprimer') }}" method="POST">
  <input type="hidden" name="supprimer" value={{ annonce.idAnnonce }} />
  <button type="submit" class="btn btn-dark" >Supprimer l'annonce</button>
  </form>
    <form action="{{ path('update') }}" method="POST">
    <input type="hidden" name="modifier" value={{ annonce.idAnnonce }} />
  <button  type="submit" class="btn btn-dark" >Modifier l'annonce</button>
</form>
  <br />
{% endfor %}
  </div>

{% endblock %}
