{% extends 'base.html.twig' %}

{% block body %}

<p class="text-center text-white"><h1 class="text-center text-white">{{'annonces.modifier'|trans }}</h1></p>

<div class="card">
<form action= "{{ path('modifier') }}" method="POST">

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.title'|trans }}</label>
   <input value="{{ titre }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="titre">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.places'|trans }}</label>
   <input value="{{ places }}"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="places">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.adresse'|trans }}</label>
   <input value="{{ adresse }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="adresse">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.ville'|trans }}</label>
   <input value="{{ ville }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ville">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.type'|trans }}</label>
   <input value="{{ type }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="type">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.pieces'|trans }}</label>
   <input value="{{ nbrpieces }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nbrpieces">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.surface'|trans }}</label>
   <input value="{{ surface }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="surface">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.loyer'|trans }}</label>
   <input value="{{ loyerhc }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="loyerhc">
</div>

<div class="form-group">
   <label for="exampleFormControlInput1">{{'annonces.charges'|trans }}</label>
   <input value="{{ charges }}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="charges">
</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">{{'annonces.description'|trans }}</label>
    <textarea class="form-control" aria-label="With textarea" name="descr">{{ description }}</textarea>
</div>

<div class="btn_center">
    <input type="hidden" name="id" value="{{ id }}" />
    <button type="submit" class="btn2">{{'annonces.modifier'|trans }}</button>
</div>

</form>
</div>
{% endblock %}
