{% extends 'base.html.twig' %}

{% block body %}

<div class="div_center">

<p class="text-center text-white"><h1 class="text-center text-white">Créer une annonce</h1></p>

<form action= "{{ path('modifier') }}" method="POST">
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default" >{{'annonces.title'|trans }}</span>
</div>
<input value={{ titre }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="titre">
</div>



<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default" >{{'annonces.places'|trans }}</span>
</div>
<input value={{ places }}  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="places">
</div>


<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default" >{{'annonces.adresse'|trans }}</span>
</div>
<input value={{ adresse }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="adresse">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default" >{{'annonces.ville'|trans }}</span>
</div>
<input value={{ ville }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ville">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default">{{'annonces.type'|trans }}</span>
</div>
<input value={{ type }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="type">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default">{{'annonces.pieces'|trans }}</span>
</div>
<input value={{ nbrpieces }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nbrpieces">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default">{{'annonces.surface'|trans }}</span>
</div>
<input value={{ surface }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="surface">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default">{{'annonces.loyer'|trans }}</span>
</div>
<input value={{ loyerhc }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="loyerhc">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default">{{'annonces.charges'|trans }}</span>
</div>
<input value={{ charges }} type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="charges">
</div>

<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text">{{'annonces.description'|trans }}</span>
</div>
<textarea value={{ description }} class="form-control" aria-label="With textarea" name="descr"></textarea>
</div>
<input type="hidden" name="id" value={{ id }} />
<button type="submit" class="btn btn-dark">{{'annonces.modifier'|trans }}</button>

</form>
</div>
{% endblock %}
